.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: white;
    padding: 54px 130px 30px;

    .list {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-column-gap: 35px;
        grid-row-gap: 40px;
    }

    .show {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 60px;
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 50px;
        .list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
            grid-column-gap: 25px;
            grid-row-gap: 30px;
        }
    }
}



