.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 370px;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        max-width: 370px;

        .image {
            height: 293px;
            max-width: 100%;
        }
    }

    .wrapper:hover {
        filter: brightness(90%);
        transition: ease-in-out 0.5s;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        .description {
            display: flex;
            flex-direction: column;
            color: #444B58;

            .title {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                text-decoration: none;
                color: #444B58;
            }

            .title:hover {
                text-decoration: underline;
                color: #444B58;
            }

            .price {
                margin: 0;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 430px) {
    .card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 200px;
    }
}
