.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF80;
    padding: 18px 130px;
    background: #444B58;

    .logo {
        text-decoration: none;

        .text {
            font-size: 30px;
            color: white;
            font-weight: 700;
            margin: 0;
            padding-bottom: 9px;
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;

        :last-child {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .link {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }

        .link:hover {
            text-decoration: underline;
            color: #C4C4C4;
        }
    }
}

@media (max-width: 700px) {
    .footer {
        padding: 15px 50px;
    }
}

@media (max-width: 395px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}