@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Arial:wght@400;600;700&display=swap');

/*@font-face {*/
/*    font-family: 'Jost';*/
/*    src: url("jost.woff2") format("woff2");*/
/*}*/
body {
    font: 16px/1.4 'Jost', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /*margin: 15px 0px;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    background: white;

}