@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Arial:wght@400;600;700&display=swap');


body {
    font: 16px/1.4 'Jost', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    background: white;
}


